@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
}

.main-layout{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-layout::-webkit-scrollbar {
  display: none;
}